.root{
    -fx-base: rgba(225, 225, 225, 255);
    /*-fx-base: rgba(60, 63, 65, 255);*/
}

.menu-item {
    -fx-background-color: rgba(200, 200, 200, 200);
}

.tree-view .tree-cell{
    -fx-background-color: rgba(225, 225, 225, 255);
}
